{% extends "base.html" %}

{% block content %} 
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Our mission is to make writing fun for everyone.</h1>
                                <p class="lead fw-normal text-muted mb-4">Pen and I Publishing design and sell paperback notebooks for people who remember how good 
                                    it can feel when you put your thoughts down on paper. My paperback notebooks are for those who still love the feel of a pen in the hand, and a note on the page. Because without paper, 
                                    I don't know... but maybe the world would be a colder more digital place and who wants that? Not our customers that's for sure.</p>
                                <a class="btn btn-warning btn-lg" href="https://www.amazon.co.uk/stores/author/B0849ZQQS7/about?ingress=0&visitId=4f6ab348-08a6-4598-8c8c-d2aeebc04243" target="_blank" rel="nofollow">Visit our Amazon store</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://m.media-amazon.com/images/I/61XWIlJfn5L._SL1500_.jpg " width="400" height="400" alt="civil partnership planner" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Planners And More</h2>
                            <p class="lead fw-normal text-muted mb-0">Along with plain ruled notebooks we also create planners and practical notebooks like this civial partnership planner.
                                It provides a space for up to 30 guests to write words of encouragement and advice.
                            </p>
                            <br>
                            <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B084QLXMBM" target="_blank" rel="nofollow">Advice Notebook</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://m.media-amazon.com/images/I/616J8gydoiL._SL1294_.jpg" width="400" height="400" alt="Christmas Carol" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">GCSE English Help</h2>
                            <p class="lead fw-normal text-muted mb-0">As well as journals, planners and notebooks we also create a small collection of tuition texts that will help anyone studying GCSE Literature.
                            </p>
                            <br>
                            <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B0BKYJJW9F" target="_blank" rel="nofollow">A Christmas Carol</a>
                           
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Ruled Notebooks</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://m.media-amazon.com/images/I/41eiN5JlqlL.jpg" alt="memory to memoir" />
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B083XGJRLK" target="_blank" rel="nofollow">Memoir Notes</a>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://m.media-amazon.com/images/I/51JFRZTJCtL._SY522_.jpg" alt="paperback notebook" />
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B0BSWPGCDV" target="_blank" rel="nofollow">Penny for 'em</a>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://m.media-amazon.com/images/I/31dLkQvJT9L._SY522_.jpg" alt="mum's notebook" />
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B083XVYLQD" target="_blank" rel="nofollow">For Mum</a>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://m.media-amazon.com/images/I/51dBPpqVGZL._SL1500_.jpg" alt="midlife certainty" />
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B08SFVQ2N9" target="_blank" rel="nofollow">Midlife Certainty</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% endblock %}