{% extends "base.html" %}

{% block content %} 
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">Articles</h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-secondary bg-gradient rounded-pill mb-2">News</div>
                                        <div class="h2 fw-bolder">Unleasing Creativity</div>
                                        <p>The Power of Putting Thoughts Down on Paper...</p>
                                        <a class="stretched-link text-decoration-none" href="{{ url_for('creativity') }}">
                                            Read more
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://images.pexels.com/photos/8715971/pexels-photo-8715971.jpeg')"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">More Articles</h2>
                            <!-- News item-->
                            <div class="mb-4">
                                <div class="small text-muted">November 16, 2023</div>
                                <a class="link-dark" href="{{ url_for('stories') }}"><h3>All Memoir Writing Stories Matter</h3></a>
                            </div>
                            <!-- News item-->
                            <div class="mb-5">
                                <div class="small text-muted">November 16, 2023</div>
                                <a class="link-dark" href="{{ url_for('memoir') }}"><h3>Memory to Memoir</h3></a>
                            </div>
                            <!-- News item-->
                            <div class="mb-5">
                                <div class="small text-muted">November 16, 2023</div>
                                <a class="link-dark" href="{{ url_for('paperback_notebooks') }}"><h3>Different ways to use paperback notebooks</h3></a>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 h-100">
                                <div class="card-body p-4">
                                    <div class="d-flex h-100 align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">My Amazon Store</div>
                                            <p class="text-muted mb-4">
                                                For all my Amazon products
                                                <br />
                                                <a href="https://www.amazon.co.uk/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank">Pen and I Publishing</a>
                                            </p>
                                            <div class="h6 fw-bolder">Find Me</div>
                                            <a class="fs-5 px-2 link-dark" href="https://github.com/todiane" target="_blank"><i class="bi-github"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/todianedev/" target="_blank"><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.youtube.com/channel/UCsk3H4KXpO4Y0f2v7AyTnzA" target="_blank"><i class="bi-youtube"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://twitter.com/toDianeDev" target="_blank"><i class="bi-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <h2 class="fw-bolder fs-5 mb-4">Some Of Our Collection</h2>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://m.media-amazon.com/images/I/51dBPpqVGZL._SY522_.jpg" alt="midlife notebook" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B08SFVQ2N9"><div class="h5 card-title mb-3">Midlife Certainity</div></a>
                                    <p class="card-text mb-0">Forget about crisis and embrace certainty. Capture your thoughts, feelings, stories, goals, wishes, hopes and dreams.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://m.media-amazon.com/images/I/4114jZgsx4L.jpg" alt="passion journal" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B084QM5DK7"><div class="h5 card-title mb-3">Believe In Passion</div></a>
                                    <p class="card-text mb-0">If you need something to believe in then why not passion? Makes a great birthday/office gift or give one to yourself as a reminder.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://m.media-amazon.com/images/I/31hoVozsfUL.jpg" alt="BE DO HAVE BLANK LINED NOTEBOOK" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B087SKQ7S6"><div class="h5 card-title mb-3">Be & Do</div></a>
                                    <p class="card-text mb-0">A motivational and inspirational paperback notebook to remind you that you must "be" and "do" before you can have.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end mb-5 mb-xl-0">
                        <a href="https://www.amazon.co.uk/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank">
                            Pen and I Publishing
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </section>
        </main>
        {% endblock %}
