{% extends "base.html" %}

{% block content %} 

           <!-- Header-->
           <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">GCSE Tuition Books</h1>
                            <p class="lead fw-normal text-muted mb-4">These books are great for anyone studying GCSE English Language and
                                Literature. All pages have wide margins and a large page size (A4) to allow for lots of annotation space. No
                                additional study notes have been added, instead it provides the space for you to add your own.
                                The books include an embedded glossary, with translations provided.</p>
                            <a class="btn btn-warning btn-lg" href="https://www.amazon.co.uk/stores/author/B0849ZQQS7/about?ingress=0&visitId=4f6ab348-08a6-4598-8c8c-d2aeebc04243" target="_blank" rel="nofollow">Visit our Amazon store</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

          <!-- GCSE books section-->
          <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61ysA8FQv2L._SL1413_.jpg" alt="Macbeth" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B0B9PTXCSZ"><h5 class="card-title mb-3">MACBETH</h5></a>
                                <p class="card-text mb-0">A GCSE study book for students needing help with Macbeth.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://m.media-amazon.com/images/I/61+7V1jblUL._SY522_.jpg" alt="Romeo and Juliet" />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href=""><h5 class="card-title mb-3">ROMEO AND JULIET</h5></a>
                            <p class="card-text mb-0">This edition of William Shakespeare's classic and tragic love story has been designed for GCSE English literature students studying Romeo and Juliet.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/616J8gydoiL._SY522_.jpg" alt="Christmas Carol" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B0BKYJJW9F"><h5 class="card-title mb-3">CHRISTMAS CAROL</h5></a>
                                <p class="card-text mb-0">This copy of A Christmas Carol is a larger-format A4 size that has been designed for use by teachers' and students.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
             <!-- gcse books section-->
             <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
   
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://m.media-amazon.com/images/I/51ZjqfRnK0L._SY522_.jpg" alt="Dr Jekyll" />
                                <div class="badge bg-secondary bg-gradient rounded-pill mb-2">Paperback</div>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B0B9PTXCSZ"><h5 class="card-title mb-3">DR JEKYLL & MR HYDE</h5></a>
                                    <p class="card-text mb-0">This is the PAPERBACK edition of Robert Lewis Stevenson's classic horror book and has been designed for GCSE English literature students studying the Strange Case of Dr. Jekyll and Mr Hyde.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/51ZjqfRnK0L._SY522_.jpg" alt="Dr Jekyll AND Mr Hyde" />
                            <div class="badge bg-secondary bg-gradient rounded-pill mb-2">Hardback</div>
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/Jekyll-Hyde-GCSE-book-annotations/dp/B0BKRZR9V2/ref=tmm_hrd_swatch_0?_encoding=UTF8&qid=&sr="><h5 class="card-title mb-3">DR JEKYLL AND MR HYDE</h5></a>
                                <p class="card-text mb-0">This is the HARDBACK edition of Robert Lewis Stevenson's classic horror book and has been designed for GCSE English literature students studying the Strange Case of Dr. Jekyll and Mr Hyde.</p>
                            </div> 
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </section>
        </main>

{% endblock %}