{% extends "base.html" %}

{% block content %} 
          <!-- Page Content-->
          <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <div class="ms-3">
                                <div class="fw-bold">Diane Corriette</div>
                                <div class="text-muted">Memoir Writing</div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">All Memoir Writing Stories Matter</h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">November 16, 2023</div>
                                <!-- Post categories-->
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Writing</a>
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Memoir</a>
                            </header>
                            <!-- Preview image figure-->
                            <figure class="mb-4"><img class="img-fluid rounded" src="https://images.pexels.com/photos/1766604/pexels-photo-1766604.jpeg" alt="memoir writing" /></figure>
                            <!-- Post content-->
                            <h2 class="fw-bolder mb-1">The Power of Putting Thoughts Down on Paper</h2>
                            <section class="mb-5">
                                <p class="fs-5 mb-4">Creativity is an invaluable asset in today's fast-paced and ever-changing world. It fuels
                                    innovation, problem-solving, and personal growth.
                                </p>
                                <p class="fs-5 mb-4">While some individuals seem naturally inclined towards creativity, others may struggle to tap into
                                    their imaginative potential.
                                    Fortunately, a simple and accessible tool can help boost creativity: putting thoughts down on paper. In this
                                    article, we will explore the benefits of this practice, supported by research and insights from experts in the
                                    field.
                                </p>
                                <h2 class="fw-bolder mb-4 mt-5">Externalizing Internal Thoughts</h2>
                                <p class="fs-5 mb-4">The act of writing or drawing on paper allows us to externalize our internal thoughts, transforming
                                    abstract ideas into tangible representations.
                                    According to research conducted by Dr. Karen Pine at the University of Hertfordshire, externalizing thoughts by
                                    putting them on paper enhances cognitive processes related to creativity.
                                    This process aids in clarifying ideas, identifying patterns, and exploring different perspectives.</p>
                                    <h2 class="fw-bolder mb-4 mt-5">Enhancing Idea Generation</h2>
                                <p class="fs-5 mb-4">When we write or sketch our thoughts, we engage in a process called divergent thinking. This form
                                    of thinking involves generating multiple ideas and associations, fostering the exploration of novel connections. Dr.
                                    Mark Beeman,
                                    a cognitive neuroscientist at Northwestern University, emphasizes that externalizing thoughts on paper triggers the
                                    brain's associative networks, enabling the emergence of innovative ideas.
                                </p>
                              

                                <p class="fs-5 mb-4">If you need a new paperback notebook take a look at our collection on Amazon UK and Amazon USA. For
                                    all other countries you can Put our author ID B0849ZQQS7 in the search box.
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank" rel="nofollow">Amazon UK</a>
                                    <a class="btn btn-outline-secondary btn-lg px-4" href="https://www.amazon.com/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank" rel="nofollow">Amazon USA</a>
                                </div>
                            </section>
                        </article>
                        
{% endblock %}