{% extends "base.html" %}

{% block content %} 
          <!-- Page Content-->
          <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <div class="ms-3">
                                <div class="fw-bold">Diane Corriette</div>
                                <div class="text-muted">Memoir Writing</div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">From Memory to Memoir</h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">November 16, 2023</div>
                                <!-- Post categories-->
                                <a class="badge bg-secondary text-decoration-none link-light" href="https://www.amazon.co.uk/dp/B083XGJRLK" target="_blank">Writing</a>
                                <a class="badge bg-secondary text-decoration-none link-light" href="https://www.amazon.co.uk/dp/B083XGJRLK" target="_blank">Memoir</a>
                            </header>
                            <!-- Preview image figure-->
                            <figure class="mb-4"><img class="img-fluid rounded" src="https://images.pexels.com/photos/1766604/pexels-photo-1766604.jpeg" alt="memoir writing" /></figure>
                            <!-- Post content-->
                            <h2 class="fw-bolder mb-1">Helping You Put Your Thoughts Down on Paper</h2>
                            <section class="mb-5">

                                <p class="fs-5 mb-4">Below is an extract of a course I ran for a few years (pre-covid) called From Memory
                                    to memoir. It took a small group through the process of writing out just one story from their life.
                                The stories were then put together as a small chapbook (a very small book/booklet). </p>

                                <p class="fs-5 mb-4 text-center">I created a blank, <a href="https://www.amazon.co.uk/dp/B083XGJRLK" target="_blank">lined paperback notebook</a> that 
                                    participants could write in.</p>

                                <h2 class="fw-bolder mb-4 mt-5">Memory to Memoirs</h2>

                                <p class="fs-5 mb-4">This training is going to help you take a memory and turn it into a story. We are focusing on
                                    writing a very short memoir story. It will be a snapshot; a moment in your life, and not your whole life story
                                    (which is an autobiography) so choose one moment to write about. </p>

                                <p class="fs-5 mb-4">Your story can be up to 1,000 words 1,200 max. All flash fiction stories are usually under 1,500 words but normally under 1,000.</p>
                                
                                <p class="fs-5 mb-4">When you tell your story, it must show how what happened motivated and inspired you to improve and/or change your life.</p>
                                
                                <p class="fs-5 mb-4">It will be a motivational/inspirational story. At the end of it you can show how your life went from one phase into another.</p>
                                
                                <p class="fs-5 mb-4">All stories are worth writing. If you believe it changed your life, then chances are it may inspire others to change their life.</p>
                                
                                <h2 class="fw-bolder mb-4 mt-5">Fictionalised Memoirs</h2>
                                
                                <p class="fs-5 mb-4">The definition of fictionalised is “to treat or make into fiction”. This means you take something that really happened, but you make some of the stuff up about it. Why would you do that? To protect someone in the story and/or to protect yourself.</p>
                                
                                <p class="fs-5 mb-4">For example: If you took drugs as a teenager or you ran away and spent time homeless you may not want your children (or anyone else) to know about that. So, you write a story about a girl who took drugs or a girl who ran away and then you let us know how her story inspired you to live your life differently.</p>
                                
                                <p class="fs-5 mb-4">You are still telling the story but some parts of it are made up and therefore fiction.</p>
                                
                                <p class="fs-5 mb-4">Another way is to change the facts. E.G. A geography teacher always laughed at you because you were an overweight teenager and he called you stupid.</p>
                                
                                <p class="fs-5 mb-4">Years of verbal abuse made you doubt yourself but eventually you overcame that and started your own business, you now employ more than 50 local people. You may want to change the geography teacher to a maths teacher and change it from a male teacher to a female one. Or instead of a teacher make the character a neighbour, a friend etc. If you went to school in the area you live in now, you might want to say you went to school in a different state. So, the story becomes about a female neighbour in a state you have never lived in, who was always verbally abusing you. You tell the same story, but the character and location are different.</p>
                                
                                <p class="fs-5 mb-4">It is important that you understand if you tell a sensitive story which involves other people only you are liable if they are not happy.</p>
                                
                                <h2 class="fw-bolder mb-4 mt-5">Pen Name</h2>
                                
                                <p class="fs-5 mb-4">If you want to write a story exactly as it happened but you do not want to use your real name, consider a pen name. A fictional name that you use as the author of the story. For example, the author of Fifty Shades of Grey is E.L. James, and her real name is Erika Leonard.</p>
                                
                                <h2 class="fw-bolder mb-4 mt-5">Other useful tips</h2>
                                
                                <p class="fs-5 mb-4">Keep a journal handy in case a new memory comes to you. Write everything down in whatever order it comes out, you can put it in the correct order later.</p>
                                
                                <p class="fs-5 mb-4">Never censor what comes up or judge it. Just write it down. You may never use it.</p>
                                
                                <p class="fs-5 mb-4">Keep all your notes in one place. Get a folder to ensure they stay together.</p>
                                
                                <p class="fs-5 mb-4">If possible, add a twist or make sure something unexpected happens at the end of the story.</p>
                                
                                <p class="fs-5 mb-4">You don’t always have to be good – write the story from the position of being anti something.</p>
                                
                                <p class="fs-5 mb-4">Think about the way you are now from the standpoint of who you used to be. The past is only useful in that it shows us our present moment.</p>
                                
                                <h2 class="fw-bolder mb-4 mt-5">Motivating yourself</h2>
                                
                                <p class="fs-5 mb-4">Chances are you may get stuck during the process. You might believe your story is boring or that it isn’t worth reading. You may even think people will not understand or judge you. Here are a few quotes that I hope will help to keep you writing.</p>
                                
                                <p class="fs-5 mb-4">“ 99.9 percent of people lead boring lives. But every single one of them is trying to make some sense out of his or her existence, to find some meaning in the world, and therein lies the value and opportunity of memoir. It’s therapeutic for the writer, and it eventually even helps his or her descendants understand themselves better.”</p>
                                
                                <p class="fs-5 mb-4">“And by the way, everything in life is worth about if you have the outgoing guts to do it, and the imagination to improvise. The worst enemy to creativity is self-doubt” - Sylvia Plath</p>
                                
                                <p class="fs-5 mb-4">“Memoir is about handing over your life to someone and saying, This is what I went through, this is who I am, and maybe you can learn something from it,” - Jeannette Walls</p>
                                
                              
                                
                              
                              




                                <p class="fs-5 mb-4">If you need a new paperback notebook take a look at our collection on Amazon UK and Amazon USA. For
                                    all other countries you can Put our author ID B0849ZQQS7 in the search box.
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank" rel="nofollow">Amazon UK</a>
                                    <a class="btn btn-outline-secondary btn-lg px-4" href="https://www.amazon.com/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank" rel="nofollow">Amazon USA</a>
                                </div>
                            </section>
                        </article>
                        
{% endblock %}