{% extends "base.html" %}

{% block content %} 
          <!-- Page Content-->
          <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <div class="ms-3">
                                <div class="fw-bold">Diane Corriette</div>
                                <div class="text-muted">Memoir Writing</div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">All Memoir Writing Stories Matter</h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">November 16, 2023</div>
                                <!-- Post categories-->
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Writing</a>
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Memoir</a>
                            </header>
                            <!-- Preview image figure-->
                            <figure class="mb-4"><img class="img-fluid rounded" src="https://images.pexels.com/photos/3363111/pexels-photo-3363111.jpeg" alt="memoir writing" /></figure>
                            <!-- Post content-->
                            <h2 class="fw-bolder mb-1">The Power of Putting Thoughts Down on Paper</h2>
                            <section class="mb-5">
                                <p class="fs-5 mb-4">When attending my Memory to Memoir training courses a common theme I would here people say is that
                                    they don't think their story is that interesting. They don't think it is worth writing and they are pretty sure no
                                    one wants to read it.
                                    I always let them know that all memoir stories matter. Your story matters. Maybe not to the world, but most
                                    definitely to the people who live in your world.
                                </p>
                                <p class="fs-5 mb-4">Imagine your great, great, great grand-daughter being able to pick up your notebook and read about
                                    life in 2021. They will be fascinated, just as you would be if you could pick up and read the diary of your great,
                                    great great relative.
                                    In the book The Shortest Pepy, you can read a diary account of the life of Samuel Pepy in the 1660’s. His
                                    description of London domestic life and his first hand account of the period including events like the Plague make
                                    an interesting read.
                                </p>
                                <p class="fs-5 mb-4">Years from now people will be interested in reading your first hand account of the Pandemic if you
                                    decide to write about how it impacted your life.
                                    Some of the entries were nothing exciting. No fancy descriptive words or major writing genius. For example, a
                                    description of a dinner party at a friends house.
                                </p>
                                <p class="fs-5 mb-4 font-italic">“I went to dinner with my wife and Mr and Mrs Pierce the Chyrurgeon to Mr. Pierce the Purser (the
                                    first time that ever I was at his house), who doth live very plentifully and finely. We have a lovely Chine of beef
                                    and other good things, very complete – and drank a great deal of wine. And her daughter played after dinner upon the
                                    virginalls, and at night by the lanthorne home again; and Mr. Pierce and his wife being gone home – I went to bed,
                                    having drank so much wine that my head was troubled – and was not very well all night. And the Winde, I observed,
                                    was ris exceedingly this night before I went to bed.”
                                </p>
                                <p class="fs-5 mb-4">
                                    So, what is really being said in that diary entry? That he had dinner with friends.
                                </p>
                                <p class="fs-5 mb-4">
                                    If I was writing about having dinner with friends, here is what a 2023 version might say….
                                </p>
                                <p class="fs-5 mb-4 font-italic">
                                    6 July 2022: I had dinner with my best friend Sarah Morris Lisa and her husband today. Tony came with me although he
                                    really didn’t want to go and we had another one of our "no shouting" rows before the taxi arrived. It was my first
                                    visit to their house. It is full of lovely 1950s pieces of furniture. Sarah is a fan of vintage 1950s furniture and
                                    clothes. She loves everything about the 50s except the lack of freedom for women. We ate a grass-fed beef dinner
                                    with homemade American style cheesecake for dessert (two slices, thank you) and drank loads of wine. Their daughter
                                    Sophia played on the baby grand piano (yes the room is big enough to hold one) and the sound is amazing. She is such
                                    a talented pianist and really deserves success. We were home a few hours later. I had drunk too much so the room was
                                    spinning. I missed the bed when I went to sit down and ended up on the floor. Tony couldn’t (and wouldn’t) stop
                                    laughing. I hate being pissed because it means waking up with a headache – which I did.
                                </p>
                                <p class="fs-5 mb-4">
                                    Imagine if that was an entry in 1920 or 1850 or 1970. How very different each of those entries will be and how
                                    equally exciting to read.
                                </p>
                                <p class="fs-5 mb-4">
                                    There is nothing exciting about my evening out but years from now people will be interested in how we got about
                                    (taxi), what we ate, who our friends were, who our partner was at the time (maybe I married Tony or maybe I didn’t),
                                    the type of people we knew and their status. Maybe daughter Sophia became a famous pianist. They will read about the
                                    fact that I can’t hold my drink and that Tony likes a good laugh!
                                </p>
                                <p class="fs-5 mb-4">
                                    The thing is you don’t know what the future holds and you have no idea what seemingly boring routine thing will be
                                    fascinating to read about years from now.
                                </p>
                                <p class="fs-5 mb-4">
                                    I want to encourage you to write up your memories and create your memoir. You don’t have to be a writer or know how to write – in fact using your own voice and words will make it far more
                                    authentic. I am not a trained writer. I just love to write in my own way.
                                </p>
                                <p class="fs-5 mb-4">
                                    Writing up your stories will have a lasting impact and can be great fun. Maybe one day, many, many years from now your family may read it and love it.
                                </p>

                                  <div class="card text-center">
                                    <div class="card-body">
                                      <h5 class="card-title">“Memoir writing is one of the most transformative types of writing because of the self reflection it requires.”</h5>
                                      <p class="card-text">- Marian Liautaud</p>
                                      <p class="card-text"><small class="text-muted">writeyourownlife.com</small></p>
                                    </div>
                                  </div>
                                
                                
                                <p class="fs-5 mb-4">If you need a new paperback notebook take a look at our collection on Amazon UK and Amazon USA. For
                                    all other countries you can Put our author ID B0849ZQQS7 in the search box.
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank" rel="nofollow">Amazon UK</a>
                                    <a class="btn btn-outline-secondary btn-lg px-4" href="https://www.amazon.com/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank" rel="nofollow">Amazon USA</a>
                                </div>
                            </section>
                        </article>
                        
{% endblock %}