{% extends "base.html" %}

{% block content %} 

           <!-- Header-->
           <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">Journals, Planners and Notebooks</h1>
                            <p class="lead fw-normal text-muted mb-4">There are a range of different journals, planners and paperbook notebooks available on our Amazon store.</p>
                            <a class="btn btn-warning btn-lg" href="https://www.amazon.co.uk/stores/author/B0849ZQQS7/about?ingress=0&visitId=4f6ab348-08a6-4598-8c8c-d2aeebc04243" target="_blank" rel="nofollow">Visit our Amazon store</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

          <!-- Notebooks section-->
          <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61lceFgs3HL._SY522_.jpg" alt="peace" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B084DHD3QH"><h5 class="card-title mb-3">PEACE</h5></a>
                                <p class="card-text mb-0">Motivational notebook journal that will make a lovely gift. Created in a minimalist style this 6x9 book has one inspirational word.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://m.media-amazon.com/images/I/4166R8kCjXL._SY522_.jpg" alt="LOVE notebook" />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B0BT7CVKB5"><h5 class="card-title mb-3">LOVE IS ALL YOU NEED</h5></a>
                            <p class="card-text mb-0">LOVE - Its all you need - how true is that! Express love for yourself or someone else with this 6x9 paperback notebook which makes a wonderful gift.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/41FjiemDaeL._SY522_.jpg" alt="big ideas" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B0BSWTNDSP"><h5 class="card-title mb-3">BIG IDEAS</h5></a>
                                <p class="card-text mb-0">This is great if you need something that you can use to write out your stories, ideas, work meetings, musings and creative thoughts.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           <!-- display 4 notebooks section-->
           <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="fw-bolder">Our Journals</h2>
                    <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                </div>
                <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid mb-4 px-4" src="https://m.media-amazon.com/images/I/613NCAxFx4L._SY522_.jpg" alt="my why" />
                            <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B084QKB2TZ" target="_blank" rel="nofollow">Goal Setting</a>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid mb-4 px-4" src="https://m.media-amazon.com/images/I/51gnUCGM+XL._SY522_.jpg" alt="creativity journal" />
                            <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B084WNSK6L" target="_blank" rel="nofollow">Creativity Journal</a>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-sm-0">
                        <div class="text-center">
                            <img class="img-fluid mb-4 px-4" src="https://m.media-amazon.com/images/I/5185d6KsWpL._SY522_.jpg" alt="life stories" />
                            <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B084QLBPGV" target="_blank" rel="nofollow">Life Stories</a>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="text-center">
                            <img class="img-fluid mb-4 px-4" src="https://m.media-amazon.com/images/I/31V1pvMrDkL._SY522_.jpg" alt="reflective writing" />
                            <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B083XQ1H8Y" target="_blank" rel="nofollow">Reflective</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
             <!-- more notebooks section-->
             <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
   
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://m.media-amazon.com/images/I/51bxsTnv1XL._SY522_.jpg" alt="POWER" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B0BSWN9T71"><h5 class="card-title mb-3">POWER</h5></a>
                                    <p class="card-text mb-0">This paperback notebook is 6 x 9 in size which is small enough to carry with you. It is blank, lined and has the meaning Flower Power printed on the front.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/414aTd3su4L.jpg" alt="finance planner" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B084DHD5W8"><h5 class="card-title mb-3">FINANCE PLANNER</h5></a>
                                <p class="card-text mb-0">This yearly finance planner for couples has been created to be simple and straight forward. You can add your income and compare that against your outgoings then budget accordingly.</p>
                            </div> 
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/41DaQ9GcaHL._SY522_.jpg" alt="Dr Jekyll AND Mr Hyde" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B084P4HT8P"><h5 class="card-title mb-3">FASTING PLANNER</h5></a>
                                <p class="card-text mb-0">This intermittent fasting planner will help anyone interested in this method of weight loss, whether you are focusing on the ketogenic intermittent fasting, 16:8, one meal a day (OMAD) ETC.</p>
                            </div> 
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                               <!-- display 4 notebooks section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Ruled Notebooks</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="https://m.media-amazon.com/images/I/41eiN5JlqlL.jpg" alt="memory to memoir" />
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B083XGJRLK" target="_blank" rel="nofollow">Memoir Notes</a>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="https://m.media-amazon.com/images/I/31i7c65+wfL.jpg" alt="your sauce notebook" />
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B084QLXL2B" target="_blank" rel="nofollow">Sauce</a>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="https://m.media-amazon.com/images/I/41HZGlzxdAL._SY522_.jpg" alt="to do notebook" />
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B083XVF4GC" target="_blank" rel="nofollow">To Do</a>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="https://m.media-amazon.com/images/I/41AroItVenL._SY522_.jpg" alt="dance" />
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/dp/B084DH5V76" target="_blank" rel="nofollow">Dance</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </main>

{% endblock %}