{% extends "base.html" %}

{% block content %} 

           <!-- Header-->
           <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">GCSE English Literature</h1>
                            <p class="lead fw-normal text-muted mb-4">Pen and I Publishing have spent time going through a number of classics taught at GCSE English Language and Literature level.
                                These books include modern day words to help the student understand the old English phrases.
                            </p>
                            <a class="btn btn-warning btn-lg" href="https://www.amazon.co.uk/stores/author/B0849ZQQS7/about?ingress=0&visitId=4f6ab348-08a6-4598-8c8c-d2aeebc04243" target="_blank" rel="nofollow">Visit our Amazon store</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

          <!-- Best sellers preview section-->
          <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">
                            <h2 class="fw-bolder">Our Books, Notebooks & Planners</h2>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61ysA8FQv2L._SL1413_.jpg" alt="Macbeth" />
                            <div class="card-body p-4">
                                <div class="badge bg-secondary bg-gradient rounded-pill mb-2">GCSE Book</div>
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/dp/B0B9PTXCSZ"><h5 class="card-title mb-3">MACBETH</h5></a>
                                <p class="card-text mb-0">A GCSE study book for students needing help with Macbeth.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61+7V1jblUL._SY522_.jpg" alt="paperback notebook" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href=""><h5 class="card-title mb-3">Romeo and Juliet </h5></a>
                                <p class="card-text mb-0">This edition of William Shakespeare's classic and tragic love story has been designed for GCSE English literature students studying Romeo and Juliet.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/41JHv7lluUL.jpg" alt="..." />
                            <div class="card-body p-4">
                                <div class="badge bg-secondary bg-gradient rounded-pill mb-2">Planner</div>
                                <a class="text-decoration-none link-dark stretched-link" href="https://www.amazon.co.uk/Intermittent-Fasting-Planner-Paperback-organizer/dp/B084QBY2GF"><h5 class="card-title mb-3">EAT. STOP. REPEAT.</h5></a>
                                <p class="card-text mb-0">Support your wellness goals with an intermittent fasting planner.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
        
{% endblock %}