{% extends "base.html" %}

{% block content %} 
          <!-- Page Content-->
          <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <div class="ms-3">
                                <div class="fw-bold">Diane Corriette</div>
                                <div class="text-muted">Paperback Notebooks</div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">Using Paperback Notebooks</h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">November 16, 2023</div>
                                <!-- Post categories-->
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Writing</a>
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Memoir</a>
                            </header>
                            <!-- Preview image figure-->
                            <figure class="mb-4"><img class="img-fluid rounded" src="https://images.pexels.com/photos/1766604/pexels-photo-1766604.jpeg" alt="memoir writing" /></figure>
                            <!-- Post content-->
                            <h2 class="fw-bolder mb-1">30 different ways to use them</h2>
                            <section class="mb-5">
                                <p class="fs-5 mb-4">I love writing in paperback notebooks. They bring me a sense of peace and possibilities. As much as
                                    I love technology there is still something comforting about sitting down with a cup of coffee and an empty page.
                                    Here are some of the ways you can use them:</p>
                                <p class="fs-5 mb-4">Travel journal: Document your adventures, experiences, and memories from your trips.</p>
                                <p class="fs-5 mb-4">Dream journal: Record your dreams and analyse their meanings or patterns.</p>
                                <p class="fs-5 mb-4">Book review journal: Write reviews and reflections on the books you read.</p>
                                <p class="fs-5 mb-4">Fitness tracker: Track your workouts, set goals, and monitor your progress.</p>
                                <p class="fs-5 mb-4">Habit tracker: Create a daily or weekly habit tracker to monitor and improve your habits.</p>
                                <p class="fs-5 mb-4">Bullet journal: Use the popular bullet journaling system to organize your tasks, events, and goals.</p>
                                <p class="fs-5 mb-4">Doodle or sketchbook: Let your artistic side shine and fill the pages with drawings or sketches.</p>
                                <p class="fs-5 mb-4">Recipe collection: Gather your favourite recipes or create your own cookbook.</p>
                                <p class="fs-5 mb-4">Bucket list journal: Write down your life goals, dreams, and aspirations.</p>
                                <p class="fs-5 mb-4">Prayer or gratitude journal: Use it as a space for prayers, gratitude, and reflections on spirituality.</p>
                                <p class="fs-5 mb-4">Brainstorming notebook: Jot down ideas, concepts, and plans for various projects.</p>
                                <p class="fs-5 mb-4">Project planner: Organise and plan your projects, whether personal or professional.</p>
                                <p class="fs-5 mb-4">Mindfulness journal: Record your thoughts, emotions, and observations as you practice mindfulness.</p>
                                <p class="fs-5 mb-4">Poetry journal: Write and explore your poetic side by composing poems.</p>
                                <p class="fs-5 mb-4">Quotes collection: Collect and write down your favourite quotes for inspiration.</p>
                                <p class="fs-5 mb-4">Language learning journal: Practice writing, vocabulary, and grammar for a language you're learning.</p>
                                <p class="fs-5 mb-4">Garden journal: Track your gardening progress, plant varieties, and observations.</p>
                                <p class="fs-5 mb-4">Financial tracker: Monitor your expenses, savings goals, and budgeting.</p>
                                <p class="fs-5 mb-4">Morning pages: Write stream-of-consciousness entries each morning to clear your mind.</p>
                                <p class="fs-5 mb-4">Lecture or meeting notes: Use it for taking detailed notes during classes or business meetings.</p>
                                <p class="fs-5 mb-4">Bucket list journal: Create a journal dedicated to ticking off items from your bucket list.</p>
                                <p class="fs-5 mb-4">Daily affirmations: Write positive affirmations to boost your self-esteem and confidence.</p>
                                <p class="fs-5 mb-4">Art therapy journal: Express your emotions and feelings through various art techniques.</p>
                                <p class="fs-5 mb-4">Comedy journal: Develop jokes, one-liners, and humorous anecdotes.</p>
                                <p class="fs-5 mb-4">Music journal: Document your musical journey, favourite songs, or compose your own melodies.</p>
                                <p class="fs-5 mb-4">Nature journal: Observe and record your interactions with nature, including sketches and descriptions.</p>
                                <p class="fs-5 mb-4">Personal development journal: Reflect on your personal growth, challenges, and lessons learned.</p>
                                <p class="fs-5 mb-4">Family history journal: Document your family tree, stories, and genealogy research.</p>
                                <p class="fs-5 mb-4">Movie or TV show tracker: Keep track of the movies or TV shows you watch and rate them.</p>
                                <p class="fs-5 mb-4">Relationship journal: Write about your relationships, milestones, and lessons learned.</p>
                                


                                <p class="fs-5 mb-4">There are so many creative ways that you can use notebooks to enhance your wellbeing and to get stuff done. How do you use them?</p>
                                
                                
                                <p class="fs-5 mb-4">If you need a new paperback notebook take a look at our collection on Amazon UK and Amazon USA. For</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://www.amazon.co.uk/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank" rel="nofollow">Amazon UK</a>
                                    <a class="btn btn-outline-secondary btn-lg px-4" href="https://www.amazon.com/stores/Pen-And-I-Publishing/author/B0849ZQQS7" target="_blank" rel="nofollow">Amazon USA</a>
                                </div>
                            </section>
                        </article>
                        
{% endblock %}